<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Y.com</title>
</head>
<body>
    <nav>
        <div class="logos">
            <a href="/">Y.com</a>
        </div>
        <div class="links">
            <a href="/"><i class="fa-solid fa-plus"></i>Add Post</a>
            <a href="/user/<%= userId %>/followers"><i class="fa-solid fa-users"></i>Followers</a>
            <a href="/user/<%= userId %>/following"><i class="fa-solid fa-users"></i>Following</a>
            <% if (isLogged) { %>
                <a href="/user/<%= userId  %>"><i class="fa-solid fa-user"></i><%= username %></a>
            <% } else {%>
                <a href="/login"><i class="fa-solid fa-user"></i>Login</a>
            <% } %>
            
        </div>
    </nav>