<%- include('./partials/header', {isLogged: isLogged}) %>
<% if (message && message.type == 'danger') { %>
    <div class="danger-message">
        <h4><%= message.message %></h4>
        <button class="btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
<% } %>
<% if (message && message.type == 'success') { %>
    <div class="success-message">
        <h4><%= message.message %></h4>
        <button class="btn"><i class="fa-solid fa-xmark"></i></button>
    </div>
<% } %>
    <div class="containerl">
        <div class="box">
            <h2>Login Here</h2>
            <form action="/login" method="post">
                <label for="username">Username: </label>
                <input type="text" name="username" required>
                <label for="email">Email: </label>
                <input type="email" name="email" required>
                <label for="password">Password: </label>
                <input type="password" name="password" required>
                <a href="/register">Don't have an account yet?</a>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
<%- include('./partials/footer') %>