*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    background: black;
    color: white;
    padding: 10px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    font-size: large;
}

.logos{
    font-size: larger;
    font-family: 'poppins', cursive;
    color: white;
}

.logos a{
    color: white;
}

.links a{
    color: white;
    text-decoration: none;
    padding: 2px 5px;
}

.container1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    background: black;
    color: white;
    padding: 30px 50px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
}

.box form a{
    color: white;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form input[type="text"], input[type="email"], input[type="password"], input[type="number"]{
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 4px 0px;
}

form input[type="submit"]{
    outline: 0;
    padding: 5px 10px;
    border: 0;
    width: 70%;
    justify-self: center;
    margin-top: 10px;
    background: lime;
    border-radius: 10px;
    cursor: pointer;
}

form a{
    font-size: smaller;
    text-decoration: underline;
    text-align: right;
}

.box h2{
    text-decoration: underline;
    font-size: xx-large;
}

.success-message{
    background: lime;
    padding:10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    border-radius: 10px;
}

.danger-message{
    background: red;
    padding:10px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    font-size: large;
    border-radius: 10px;
}

.btn{
    background: transparent;
    outline: 0;
    border: 0;
    font-size: large;
    cursor: pointer;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name{
    font-size: larger;
    font-weight: bold;
}

#username{
    text-decoration: underline;
}

.circle-profile{
    background: rgb(158, 157, 157);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    margin: 10px;
}

.likes-followers-details{
    border: 2px solid black;
    padding: 5px 10px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.personal-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    padding: 10px 20px;
    margin: 10px;
}

.personal-details h3{
    margin: 5px 5px 10px 5px;
    text-decoration: underline;
}

.posts{
    margin: 20px 2px;
}

.post{
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px 50px;
    max-width: 60%;
}

.options{
    color: black;
    border: 2px solid black;
    padding: 2px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -2px;
}

.options a {
    text-decoration: none;
    color: grey;
    padding: 0 15px;
}

.hero-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px ;
}

.hero-post h3{
    margin-bottom: 10px;
    text-decoration: underline;
}

.share-btn, .comment-btn{
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 5px;
    color: grey;
}

#time-span{
    display: block;
    margin-bottom: 15px;
    margin-top: -5px;
}

.hero{
    border: 2px solid black;
    margin: 20px 200px;
    padding: 10px;
    border-radius: 5px;
}

.hero .input-field textarea{
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    box-sizing: border-box;
    outline: 0;
    height: 70px;
}

.input-field input[type="submit"]{
    color: white;
    text-decoration: none;
    background-color: blue;
    padding: 5px 10px;
    margin-top: 25px;
    border-radius: 10px;
}

.input-field input[type="submit"]:disabled{
    cursor: not-allowed;
    background: rgb(99, 99, 225);
}

.user-options{
    margin-bottom: -2px;
}

.user-options span{
    margin: 3px 8px;
}

.user-options button{
    padding: 3px 8px;
    margin: 3px 10px;
    border: 0;
    outline: 0;
    background: blue;
    border-radius: 10px;
    cursor: pointer;
}

.user-options button a{
    color: white;
    text-decoration: 0;
}

#logout-link{
    color: white;
    text-decoration: none;
    background: black;
    padding: 5px 10px;
    margin: 200px 10px;
    border-radius: 10px;
    position: relative;
    top: 20px;
    left: 90%;
}

#edit-btn{
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 10px;
    text-align: center;
}

.box-followers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.follower{
    border: 2px solid black;
    padding: 5px 20px;
    margin: 10px 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.follower a{
    color: white;
    background: blue;
    text-decoration: none;
    font-size: smaller;
    padding: 5px 10px;
}